# Misc
.DS_Store

# Yarn
.yarnclean
yarn-error.log
.yarn/*

# Node.js
node_modules

# Istanbul
.nyc_output/
coverage/

# Env
.env

# Build
public

# Cypress
test/cypress/screenshots
test/cypress/videos
