{
  "customSyntax": "postcss-styled-syntax",
  "extends": ["stylelint-config-standard-scss", "stylelint-config-styled-components", "stylelint-config-prettier"],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-colon-newline-after": null,
    "function-url-quotes": null,
    "function-name-case": null,
    "keyframes-name-pattern": null,
    "length-zero-no-unit": null,
    "property-no-unknown": [
      true,
      { ignoreProperties: ["shadow-color", "shadow-offset", "shadow-opacity", "shadow-radius", "-styled-mixin"] }
    ],
    "selector-class-pattern": null,
    "selector-no-vendor-prefix": null,
    "value-keyword-case": null,
    "order/properties-alphabetical-order": true,
    "scss/at-function-pattern": null,
    "scss/dollar-variable-pattern": null,
    "scss/operator-no-unspaced": null,
    "scss/percent-placeholder-pattern": null
  }
}
