<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="referrer" content="strict-origin-when-cross-origin">

        <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/favicon-16x16.png">
        <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/site.webmanifest">
        <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.publicPath %>favicon/safari-pinned-tab.svg" color="#49CC68">
        <meta name="msapplication-TileColor" content="#49CC68">
        <meta name="theme-color" content="#ffffff">

        <title>Uphold Vault Assist</title>
    </head>

    <body>
        <main id="app"></main>
    </body>
</html>
